@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  background: linear-gradient(#000, #240046);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

code {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.MuiTypography-root,
.MuiButtonBase-root {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 992px) {
  main {
    margin-left: 110px;
  }
}
